.blush{
    margin-bottom: 70px;


    &__inner{
        display: flex;
        flex-wrap: wrap;
    }

    &__img{
        display: block;
        max-width: 100%;
    }

    &__item{
        width: 20%;
    }
}

@media (max-width:991px){

    .blush__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blush__item{
        width: 50%;
    }
}

@media(max-width:520px){

    .blush__item{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}