.galary__contact { 
    margin-bottom: 100px; 
 
    &-img { 
        display: block; 
        max-width: 100%; 
        height: auto; 
    } 
} 
 
.galary-swiper.swiper{ 
    overflow: visible; 
} 
 
.swiper-pagination.galary-pagination { 
    position: relative; 
    z-index: 10; 
    bottom: -20px; 
} 
 
.galary-pagination .swiper-pagination-bullet{ 
    display: inline-block; 
    width: 8px; 
    height: 8px; 
    background-color: #363838; 
    margin-right: 29px !important ; 
    opacity: 1;  
 
    &:last-child{ 
        margin: 0; 
    } 
} 
 
.galary-pagination .swiper-pagination-bullet-active{ 
    background-color: #ffef35; 
}