.header {
    padding-top: 44px;
    padding-bottom: 45px;
    background-color: #FFFFFF;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        position: relative;
        z-index: 101;
    }

    &__link {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-decoration: none;
        color: #363838E6;
    }

    &__item {
        display: flex;
        gap: 79px;
        margin-left: 32px;
    }

    &__item-second {
        display: flex;
        gap: 81px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px 40px;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        gap: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease, opacity 0.3s ease;
        pointer-events: none;
        z-index: 100;
    }

}

.navTuggle {
    display: none;
}

.header__nav.header__show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    /* Восстанавливает взаимодействие с меню */
}

@media(max-width:991px) {

    .header__item {
        gap: 40px;
        margin-left: 0;
    }

    .header__item-second {
        gap: 40px;
    }

}

@media(max-width:768px) {


    .navTuggle {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        z-index: 10;
    }


    .navTuggle span {
        display: inline-block;
        width: 30px;
        height: 3px;
        margin: 4px 0px;
        background-color: #6c6e6ee6;
    }

    .header__item {
        display: none;
    }

    .header__item-second {
        display: none;
    }
}